.button-theme {
  background-color: $color-main;
  border-radius: 8px;
  border: none;
}
.button-text {
  background-color: transparent;
  border: none;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}
